<!DOCTYPE html>
<html>
  <head>
    <title>Чат с <%= anotheruser.username %> | CGN </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
      .text-mont{
        font-family: 'Montserrat';
      }

      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }

      .my, .his{
        border-radius: 30%;
        margin-top:1vw;
        width: 150px;
        background-color: #333;
        word-break: break-all;
      }

      .time{
        color:gray;
      }

      .my{
        margin-left:50vw;
      }
    </style>
  </head>
  <body class="bg-dark text-mont text-white">
    <div id="me" style="display:none;"><%= req.session.secret_id %></div>
    <div id="ouruser"><%= anotheruser.username %></div>
    <div id="user1" style="display:none;"><%= user1_id %></div>
    <div id="user2" style="display:none;"><%= user2_id %></div>

    <span id="dodo"></span>
    <ul id="messages">
      <% for(var i=0; i < history.length; i++) { %>
        <% if(req.session.secret_id == history[i].author) {%>  
          <li class="my"><%= history[i].msg %> <span class="time"><%= history[i].date %></span></li>
        <%}else{%> 
          <li class="his"><%= history[i].msg %> <span class="time"><%= history[i].date %></span></li>
        <%}%>
      <%}%>
    </ul>

    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>



    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');


      $('#messages').on('keydown keyup', function(){
        socket.emit('typing', document.getElementById('ouruser').textContent);
      })

      socket.on('typing', name => {
        if(name != document.getElementById('ouruser').textContent){
          $("#dodo").empty();
          var msg = $('<b>' + name + ' печатает сообщение...</b>');
          $("#dodo").last().append(msg);
          msg.fadeOut(3000, function() {$(this).remove()});
        }
      })

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', {msg: input.value, user1: document.getElementById('user1').textContent, user2: document.getElementById('user2').textContent, author: document.getElementById('me').textContent, date: Date.now() });
          input.value = '';
        }
      });

      socket.on('chat message', function(msg) {
        if(msg.user1 == document.getElementById('user1').textContent && msg.user2 == document.getElementById('user2').textContent){
          var item = document.createElement('li');
          item.textContent = msg.msg;
          item.classList.add('my');
          
          var timer = document.createElement('span')
          timer.textContent = ` ${new Date().getHours()}:${new Date().getMinutes()}`
          item.appendChild(timer)

          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
        }
      });
    </script>
  </body>
</html>