<html>
<head>
    <title>Профиль <%= name %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=-PqZOdE39LjhUiV5v95bkuh3zEMyO2jlSyaxewit4dUTxir1DUfu4yIjMqG9wCJjkWwEZwAxEFDUAOaPD9vuzCfFT4gACSALNWNxpZconQVRI8FNpSGGg15y5ts48hnt6deG6WB8DHDIDXMV-enPkA" charset="UTF-8"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    
    <style> 
        body{
            background: #eee
        }
        .card {
            border: none;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            cursor: pointer
        }
        .card:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #E1BEE7;
            transform: scaleY(1);
            transition: all 0.5s;
            transform-origin: bottom
        }
        .card:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #8E24AA;
            transform: scaleY(0);
            transition: all 0.5s;
            transform-origin: bottom
        }
        .card:hover::after {
            transform: scaleY(1)
        }
        .fonts {
            font-size: 0.8vw;
        }
        .social-list {
            display: flex;
            list-style: none;
            justify-content: center;
            padding: 0
        }
        .social-list li {
            padding: 10px;
            color: #8E24AA;
            font-size: 19px
        }
        .buttons button:nth-child(1) {
            border: 1px solid #8E24AA !important;
            color: #8E24AA;
            height: 40px
        }
        .buttons button:nth-child(1):hover {
            border: 1px solid #8E24AA !important;
            color: #fff;
            height: 40px;
            background-color: #8E24AA
        }
        .buttons button:nth-child(2) {
            border: 1px solid #8E24AA !important;
            background-color: #8E24AA;
            color: #fff;
            height: 40px
        }

        @font-face {
                font-family: 'Montserrat';
                font-weight: 100;
                font-display: swap;
                src: url('fonts/montserrat/Montserrat-SemiBold.ttf');
        }

        .text-mont{
            font-family: 'Montserrat';
        }
    </style>
    
</head>
<body class="bg-dark text-mont">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center">

                           <img class="rounded-circle" height="150" width="150" src= <%= image_url %>>


                    <div class="text-center mt-3">

                            <h4 class="mt-2 mb-0 name" style="padding:0,0,3px; font-weight: bold;"><%= name %> <span class="badge rounded-pill bg-secondary"></span></h4>  
                        
                        <div class="px-4 mt-1">
                            <h3 class="fonts" style="padding:0">Осебе: <b><%= about%></b> </h3>

                            <h3 class="fonts" style="padding:0">Роль: 
                                <b>
                                    <%= (role == 'USER') ? 'Пользователь' :
                                    (role == 'ADMIN') ? 'Администратор' :
                                    'Постер';
                                    %>
                                </b> 
                            </h3>

                            <h3 class="fonts">Зарегистрирован с: <b><%= time %></p></h3>
                        </div>

                        
                        <div class="buttons"> 

                            <%if (sess_sec == user_secret){%>
                                <a href="/settings"><button class="btn btn-outline-primary px-4">Настройки</button> </a> 
                                <a href="/"><button class="btn btn-outline-primary px-4">Главная</button> </a> 
                                <a href="/leave"><button class="btn btn-outline-primary px-4">Выйти</button> </a> 

                                <script>
                                    document.querySelector('.badge').innerHTML = 'Вы'
                                </script>
                            <%}else{%>
                                <a href="/chat/<%=user_1%>_<%=user_2%>"><button class="btn btn-outline-primary px-4">Сообщение</button> </a> 
                                <a href="/"><button class="btn btn-outline-primary px-4">Главная</button> </a> 

                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>