<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки <%= name %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=-PqZOdE39LjhUiV5v95bkuh3zEMyO2jlSyaxewit4dUTxir1DUfu4yIjMqG9wCJjkWwEZwAxEFDUAOaPD9vuzCfFT4gACSALNWNxpZconQVRI8FNpSGGg15y5ts48hnt6deG6WB8DHDIDXMV-enPkA" charset="UTF-8"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body class="bg-dark text-white text-center">
    <div class="toast-container position-absolute top-0 end-0 p-3 " style="z-index: 11;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-info">

            <strong class="me-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
            <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>  Система</strong>
            <small>Только что</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark bg-info text-center" id="errors">
            
        </div>
        </div>
    </div>
        <div class="container">
            <div class="row" style="font-family: 'Montserrat';">
            <form action="/upload" method="post" enctype="multipart/form-data">

                <div class="image-upload">
                    <style>
                        .image-upload>input {
                            display: none;
                        }
                    </style>

                    <label for="avatarinput" >
                        <img id="avatar" class="image" style="border-radius: 50%;" height="150" width="150" id="createForm" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" src= <%= image_url %> >
                    </label>
                    <input accept=".jpg,.jfif,.jpeg,.png,.gif" type="file" name="avatar" id="avatarinput"  onchange="readfichier()"> 
                    <button type="submit" class="button btn text-white bg-success" id="avtshr" style="display:none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                      </svg></button>
                </div>

                <script>
                    $("input[type=file]").on('change',function(element){
                            let file = element.target.files[0];
                

                            document.getElementById('avtshr').style.display = 'block';
                            // FileReader support
                            if (FileReader && file) {
                                var fr = new FileReader();
                                fr.onload = function () {
                                    $('#avatar').attr('src', fr.result);
                                }
                                fr.readAsDataURL(file);
                            }}
                        );
                        
                </script>
            </form>

        <form action="/settings/sumbit/" id="form1" method="post">                
            <div class="row">
                <div class="col-6">
                    <div class="input_div text-dark">
                        <div class="nick">
                            <h2 style="margin:0">Никнейм</h2>
                            <input type="text" class='inputt' name='nick' value="<%= username %>">
                        </div>
        
                        <div class="about">
                            <h2 style="margin:0">О себе</h2>
                            <input type="text" class='inputt' name='about' value="<%= about %>">                
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input_div text-dark">
                        <div class="about">
                            <h2 style="margin:0">Смена ID</h2>
                            <input type="text" class='inputt' id="user_id" name='id' value="<%= user_id %>">                
                        </div>
        
                        <div class="about">
                            <h2 style="margin:0">Пароль</h2>
                            <input type="text" class='inputt' name='pswrd' placeholder="*">                
                        </div>
                    </div>
                </div>
            </div>
            
                <button class="btn1 button text-white" type='submit' style="margin-top:10px;">Сохранить</button>
            </form>

            </div>
        </div>

        </div>
    </div>


    <style>

        .btn{
 
            left: 50%;
            transform: translate(50%, 50%);
            position: absolute;
        }

        .container{
            padding-top:2vw;
        }

        .btn1{
            text-decoration: none;
            display: inline-block;
            width: 350px;
            height: 40px;
            border-radius: 45px;
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            font-weight: 600;
            color: #524f4e;
            background-color:rgb(0, 59, 168);
            border-color:black;
            box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
            transition: .3s;
        }

        .btn1:hover{
            color:white;
            background-color:rgb(4, 9, 88);
            transform:translateY(5px);
        }

        .input_div{
            margin-bottom: 2vw;
            margin-top:2vw;
            background: white;
            margin-left: auto;
            margin-right: auto;
            width: 440px;
            height: 220px;
            border-radius: 10px;
        }
        
        .nick, .about{
            border-color:black;
            border-radius: 45px;
            padding-top:1vw;
        }

        .inputt{
            width:15vw;
            padding-left:15px;
            height: 2.5vw;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            border-radius: 45px;
        }

        .image{
            border-radius: 50%;
        }

        .image:hover{
            opacity:0.5;
            border-radius: 50%;
        }

    </style>
    <script>
        var toastLiveExample = document.getElementById('liveToast')
        
        $(document).ready(() => {
            $("#form1").submit((event) => {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/settings/sumbit/',
                    data: $('#form1').serialize(),
                    dataType: "json",
                        success: (response) => {
                            if(response.Success == 'Успешно'){
                                let id = document.getElementById('user_id').value
                                return window.location.replace(`/profile/${id}`);
                            }else{
                            var toast = new bootstrap.Toast(toastLiveExample)
                            document.getElementById("errors").innerHTML = response.Success;
                            toast.show()
                        }
                    }
                })
            });
        });
    </script>
</body>
</html>